# Python
venv/
__pycache__/
*.pyc
.env
tempCodeRunnerFile.py

# ML Model files (too large for GitHub)
*.pkl

# Jupyter
.ipynb_checkpoints/

# Data
data/

# React
frontend/node_modules/
frontend/build/